.modal {
    display: none; 
    position: fixed; 
    z-index: 1050; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto; 
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px 0; 
}

.modal.activo {
    display: block; 
}


.modal-contenido {
    background-color: #103B8A; 
    color: white; 
    margin: 40px auto; 
    padding: 25px; 
    border-radius: 5px;
    width: 90%; 
    max-width: 400px; 
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}


.cerrar-btn {
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    transition: color 0.3s;
}

.cerrar-btn:hover,
.cerrar-btn:focus {
    color: #ff0000; 
    text-decoration: none;
}

.titulo-modal {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}


.info-contacto-caja {
    background-color: white;
    padding: 15px 20px;
    border-radius: 5px;
    color: #103B8A; 
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.info-contacto-caja p {
    margin: 0; 
}

.numero-correo-texto {
    font-size: 1.2rem;
    margin-top: 5px !important;
}