.error {
    display: none !important; 
    visibility: hidden !important;
}


.invalid-feedback {
    display: none; 
    color: #FFDD00 !important; 
    font-size: 0.85em;
    margin-top: 5px; 
    text-align: left;
    height: 15px; 
}

.formulario-registro.was-validated .invalid-feedback {
    display: block !important; 
}

.formulario-registro.was-validated input:invalid {
    border-color: #FFDD00 !important; 
    box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.25) !important;
}

.formulario-registro.was-validated input:valid {
    border-color: initial !important; 
    box-shadow: none !important;
}